@charset 'utf-8';

@import 'mixin-gutter-column';

section {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}

pre,
code {
	padding: .5em;
	border-radius: 5px;
	border: 1px solid #ddd;
	background-color: #efefef;
}

code {
	padding: 0 .15em;
}

.container {
	background-color: #EAD8FF;
}

.item {
	padding: 30px;
	background-color: #0000AB;
	color: #fff;
	text-align: center;
}

.sample-1 {
	@include col(4, 30px, '.child') {
		@extend .item;

		&:nth-of-type(n+5) {
			margin-top: 30px;
		} // nth-of-type(n+5)
	}
}

.is-list {
	@include col(3, 30px, $is-list:true) {
		@extend .item;

		background-color: #6600A8;

		&:nth-of-type(n+4) {
			margin-top: 30px;
		} // nth-of-type(n+4)
	}
}

.is-flex {
	@include col(3, 30px) {
		&:nth-of-type(n+4) {
			margin-top: 30px;
		} // nth-of-type(n+4)
	}
}

.is-grid {
	@include col(3, 30px, $is-type:grid);
}

.is-float {
	@include col(3, 30px) {
		&:nth-of-type(n+4) {
			margin-top: 30px;
		} // nth-of-type(n+4)
	}
}