section {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

pre,
code {
  padding: .5em;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #efefef;
}

code {
  padding: 0 .15em;
}

.container {
  background-color: #EAD8FF;
}

.item, .sample-1 .child, .is-list > li {
  padding: 30px;
  background-color: #0000AB;
  color: #fff;
  text-align: center;
}

.sample-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.sample-1 .child {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.sample-1 .child {
  width: calc((100% - 90px) / 4);
}
.sample-1 .child:nth-of-type(n+5) {
  margin-top: 30px;
}
.sample-1 .child:not(:nth-of-type(4n)) {
  margin-right: 30px;
}

.is-list {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.is-list > li {
  list-style-position: inside;
}
.is-list > li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.is-list > li {
  width: calc((100% - 60px) / 3);
  background-color: #6600A8;
}
.is-list > li:nth-of-type(n+4) {
  margin-top: 30px;
}
.is-list > li:not(:nth-of-type(3n)) {
  margin-right: 30px;
}

.is-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.is-flex .item, .is-flex .sample-1 .child, .sample-1 .is-flex .child, .is-flex .is-list > li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.is-flex .item, .is-flex .sample-1 .child, .sample-1 .is-flex .child, .is-flex .is-list > li {
  width: calc((100% - 60px) / 3);
}
.is-flex .item:nth-of-type(n+4), .is-flex .sample-1 .child:nth-of-type(n+4), .sample-1 .is-flex .child:nth-of-type(n+4), .is-flex .is-list > li:nth-of-type(n+4) {
  margin-top: 30px;
}
.is-flex .item:not(:nth-of-type(3n)), .is-flex .sample-1 .child:not(:nth-of-type(3n)), .sample-1 .is-flex .child:not(:nth-of-type(3n)), .is-flex .is-list > li:not(:nth-of-type(3n)) {
  margin-right: 30px;
}

.is-grid {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  -ms-grid-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
}
.is-grid .item, .is-grid .sample-1 .child, .sample-1 .is-grid .child, .is-grid .is-list > li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.is-float {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.is-float .item, .is-float .sample-1 .child, .sample-1 .is-float .child, .is-float .is-list > li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.is-float .item, .is-float .sample-1 .child, .sample-1 .is-float .child, .is-float .is-list > li {
  width: calc((100% - 60px) / 3);
}
.is-float .item:nth-of-type(n+4), .is-float .sample-1 .child:nth-of-type(n+4), .sample-1 .is-float .child:nth-of-type(n+4), .is-float .is-list > li:nth-of-type(n+4) {
  margin-top: 30px;
}
.is-float .item:not(:nth-of-type(3n)), .is-float .sample-1 .child:not(:nth-of-type(3n)), .sample-1 .is-float .child:not(:nth-of-type(3n)), .is-float .is-list > li:not(:nth-of-type(3n)) {
  margin-right: 30px;
}
