/* ===============================================
# Mixin

  @include col(
	number of column, // *required
	gutter margin, // *required
	class name,
	display type(flex/float/grid),
	is list(true/false)
  ) {
	other styles
  };
=============================================== */
section {
  margin-left: auto;
  margin-right: auto;
  width: 640px;
}
section + section {
  margin-top: 60px;
}

pre {
  padding: .5em;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #efefef;
}

.container {
  background-color: #EAD9FF;
}

.item, .sample-1 .child,
li {
  padding: 30px;
  background-color: #0009A8;
  color: #ddd;
  text-align: center;
}

.sample-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.sample-1 .child {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.sample-1 .child {
  width: calc((100% - 90px) / 4);
}
.sample-1 .child:nth-of-type(n+5) {
  margin-top: 30px;
}
.sample-1 .child:not(:nth-of-type(4n)) {
  margin-right: 30px;
}

.is-list {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.is-list > li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.is-list > li {
  width: calc((100% - 60px) / 3);
}
.is-list > li:nth-of-type(n+4) {
  margin-top: 30px;
}
.is-list > li:not(:nth-of-type(3n)) {
  margin-right: 30px;
}

.is-flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.is-flexbox .item, .is-flexbox .sample-1 .child, .sample-1 .is-flexbox .child {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.is-flexbox .item, .is-flexbox .sample-1 .child, .sample-1 .is-flexbox .child {
  width: calc((100% - 60px) / 3);
}
.is-flexbox .item:nth-of-type(n+4), .is-flexbox .sample-1 .child:nth-of-type(n+4), .sample-1 .is-flexbox .child:nth-of-type(n+4) {
  margin-top: 30px;
}
.is-flexbox .item:not(:nth-of-type(3n)), .is-flexbox .sample-1 .child:not(:nth-of-type(3n)), .sample-1 .is-flexbox .child:not(:nth-of-type(3n)) {
  margin-right: 30px;
}

.is-grid {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  -ms-grid-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
}
.is-grid .item, .is-grid .sample-1 .child, .sample-1 .is-grid .child {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.is-float {
  zoom: 1;
}
.is-float .item, .is-float .sample-1 .child, .sample-1 .is-float .child {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.is-float .item, .is-float .sample-1 .child, .sample-1 .is-float .child {
  width: calc((100% - 60px) / 3);
}
.is-float .item:nth-of-type(n+4), .is-float .sample-1 .child:nth-of-type(n+4), .sample-1 .is-float .child:nth-of-type(n+4) {
  margin-top: 30px;
}
.is-float .item:not(:nth-of-type(3n)), .is-float .sample-1 .child:not(:nth-of-type(3n)), .sample-1 .is-float .child:not(:nth-of-type(3n)) {
  margin-right: 30px;
}
.is-float:before, .is-float:after {
  content: '';
  display: table;
}
.is-float:after {
  clear: both;
}
.is-float .item, .is-float .sample-1 .child, .sample-1 .is-float .child {
  float: left;
}
